# Ignore all media inside genre folders
static/**/*.mp3
static/**/*.mp4
static/**/*.wav
static/**/*.ogg
static/**/*.flac
static/**/*.avi

# Ignore genre subfolders
static/Chill/
static/Heavy/
static/Christian/
static/Classical/

# ALLOW static/script.js and static/style.css
!static/script.js
!static/style.css


# Python & IDE artifacts
__pycache__/
*.pyc
.idea/
.env
.venv/
